<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
</head>
<body>
    <h1>My Contact Details</h1>
    <p>Bulacao, Talisay City, Cebu</p>
    <p>09085848791</p>
    <p>graccikapili1@gmail.com</p>

    <form class="" action="mailto:graccious.gaming@gmail.com" method="post" enctype="text/plain">
        <label>Your Name:</label>
        <input type="text" name="" value=""> <br>
        <label>Your Email:</label>
        <input type="email" name="your email" value="" ><br>
        <label>Your Message</label> <br>
        <textarea name="name" id="" cols="30" rows="10"></textarea> <br>
        <input type="submit" name="">
    </form>
</body>
</html>