<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles\styles.css">
        <meta charset="UTF-8">
        <title>Gracci's Personal Site</title>
    </head>
    <body>
        <table>
            <tr>
                <td><img class="imgSize"src="Personal_Profile\images\nftdollarmonkey.jpg" alt="gracci profile picture"></td>
                <td><h1>Gracci Kapili</h1>
                    <p><em>Cebu Institute Technology University</em></p>
                    <p>Web engineer | Sports lover</p></td>
            </tr>
        </table>
        
    <hr size="2" noshade="">
        
    <h2>Sports and Likes </h2>
    <ul>
        <li>Road Bikes</li>
        <li>Sport Cars
            <ol>
                <li>Ferrari's</li>
                <li>Dogde Challenger</li>
                <li>Ford Raptor F150</li>
            </ol>
        </li>
        <li>Video Games
            <ul>
                <li>Dota</li>
            </ul>
        </li>
    </ul>
    <hr size="2" noshade="">
    <h2>Social Media Accounts</h2>
        <ul>
            <li><strong><a href="https://www.facebook.com/gracci.kapiliii" target="_blank">Facebook</a></strong></li>
            <li><strong><a href="https://www.instagram.com/_gggg_00000/" target="_blank">Instagram</a></strong></li>
        </ul>
        <hr size="2" noshade="">
        <h3>Contact ME</h3>
        <p> <a href="contactme.html" target="_blank">click here</a></a></p>
    </body>
    
</html>